<md-dialog aria-label="Node Editor" ng-cloak>
    <form name="nodeEditorForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Node</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="nodeEditor.cancel()" aria-label="Cancel">
                    <md-icon md-font-icon="fa-times" class="fa"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="node-editor">
            <div class="md-dialog-content" layout="column">
                <h4>General Info</h4>
                <div layout>
                    <md-input-container flex>
                        <label>Title</label>
                        <input type="text" name="title" ng-model="nodeEditor.node.title" required/>
                        <div ng-messages="nodeEditorForm.title.$error">
                            <div ng-message="required">Title is required</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Level</label>
                        <md-select name="level" ng-model="nodeEditor.node.level" required>
                            <md-option ng-repeat="level in nodeEditor.levels" value="{{level}}">{{level}}</md-option>
                        </md-select>
                        <div ng-messages="nodeEditorForm.level.$error">
                            <div ng-message="required">Level is required</div>
                        </div>
                    </md-input-container>
                </div>
                <h4>Leaders</h4>
                <md-chips ng-model="nodeEditor.leaders" md-autocomplete-snap md-require-match="true">
                    <md-autocomplete md-input-minlength="2"
                                     md-search-text="nodeEditor.leaderSearchText"
                                     md-items="item in nodeEditor.filterQuery(nodeEditor.leaderSearchText)"
                                     md-item-text="item.name.fullName"
                                     placeholder="find..."
                                     md-autoselect>
                        <span md-highlight-text="nodeEditor.leaderSearchText">{{item.name.fullName}} {{nodeEditor.userIndicator(item)}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>{{$chip.name.fullName}}</span>
                    </md-chip-template>
                </md-chips>
            </div>
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="nodeEditor.cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary" ng-click="nodeEditor.save(nodeEditorForm.$valid)">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>