<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>GCCI Model</title>

    <link rel="stylesheet" type="text/css" href="assets/gen/css/app.min.css"/>
    <script src="assets/gen/js/app.js"></script>
</head>
<body ng-controller="MainCtrl as main" ng-cloak>

<!-- Fixed navbar -->
<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">GCCI Model</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Test User <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<md-toolbar class="navbar" layout layout-align="space-around center">
    <div>
        <div class="md-toolbar-tools">
            <h2>GCCI Management System</h2>
        </div>
    </div>
    <div>
        <md-button class="md-mini" ng-if="!user" ng-click="main.authService.login()">
            Log In
        </md-button>

        <md-menu ng-if="user">
            <md-button class="md-mini" ng-click="$mdOpenMenu($event)">
                {{user.google.displayName}} <i class="fa fa-caret-down btn-icon btn-icon-right"></i>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button>
                        <md-icon md-font-icon="fa-comment" class="fa" md-menu-align-target></md-icon>
                        Feedback
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="main.authService.logout()">
                        <md-icon md-font-icon="fa-sign-out" class="fa" md-menu-align-target></md-icon>
                        Log Out
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<div layout layout-align="space-around start">
    <!-- user is not logged in -->
    <div ng-if="!user">
        <div ng-if="!main.authService.authInProgress">
            <h3>Oops! You are not logged in!</h3>
            <p>You are either not logged in or the user authenticatation service is timed out.</p>
            <p>Please log in again.</p>
        </div>
        <div ng-if="main.authService.authInProgress">
            <h3><i class="fa fa-cog fa-spin"></i> Authenticating is in progress...</h3>
        </div>
    </div>

    <!-- user is logged in -->
    <div ng-if="user" layout="column" layout-align="start start" class="model-tree">
        <div ng-repeat="node in main.tree track by node.$id" ng-style="main.getIndentation(node.depth)" ng-if="node.depth > 1">
            <md-menu ng-if="!main.moveNodes">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Menu">
                    <md-icon md-font-icon="fa-ellipsis-v" class="fa"></md-icon>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="main.editNode(node, $event)">
                            <md-icon md-font-icon="fa-pencil" class="fa" md-menu-align-target></md-icon>
                            edit
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="main.addSibling(node, 'left', $event)">
                            <md-icon md-font-icon="fa-angle-up" class="fa" md-menu-align-target></md-icon>
                            add sibling above
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="main.addSibling(node, 'right', $event)">
                            <md-icon md-font-icon="fa-angle-down" class="fa" md-menu-align-target></md-icon>
                            add sibling below
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="main.addChild(node, $event)" aria-label="add child">
                            <md-icon md-font-icon="fa-long-arrow-right rotate45" class="fa" md-menu-align-target></md-icon>
                            add child
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="main.move(node, $event)" aria-label="add child" disabled>
                            <md-icon md-font-icon="fa-arrows" class="fa" md-menu-align-target></md-icon>
                            move
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="main.remove(node, $event)" aria-label="remove node">
                            <md-icon md-font-icon="fa-trash-o" class="fa" md-menu-align-target></md-icon>
                            remove
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu ng-if="main.moveNodes">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Move Menu" ng-class="{'hidden': !main.isValidMoveToTarget(node)}">
                    <md-icon md-font-icon="fa-ellipsis-v" class="fa"></md-icon>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="main.moveTo(node, 'left')" aria-label="as sibling above">
                            <md-icon md-font-icon="fa-angle-up" class="fa" md-menu-align-target></md-icon>
                            as sibling above
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="main.moveTo(node, 'right')" aria-label="as sibling below">
                            <md-icon md-font-icon="fa-angle-down" class="fa" md-menu-align-target></md-icon>
                            as sibling below
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="main.moveTo(node, 'child')" aria-label="as child">
                            <md-icon md-font-icon="fa-long-arrow-right rotate45" class="fa" md-menu-align-target></md-icon>
                            as child
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="main.cancelMove()" aria-label="cancel move">
                            <md-icon md-font-icon="fa-ban" class="fa" md-menu-align-target></md-icon>
                            cancel move
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <span>
                {{node.title}}
                <span ng-if="node.level" class="helper">
                    {{node.level}} {{node.leaders ? "-" : ""}} {{main.getLeadersName(node.leaders)}}
                </span>

                <!-- debugging info -->
                <!-- {{main.getLeaderName(node)}} ({{node.path}}) ({{node.depth}}) -->
            </span>
        </div>
    </div>
    <div></div>
</div>

</body>
</html>